#main-heading {
  text-align: center;
  font-size: 42px;
  font-weight: bolder;
}

.shop-item {
  border: 2px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 40%;
}

.shop-item-group {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

h1 {
  border: 3px solid blue;
  font-weight: lighter;
}

h2 {
  text-align: center;
}

.item-title {
  margin-block: 5px;
}

.buy-button {
  margin-bottom: 5px;
  font-size: large;
  padding: 3px 10px;
}

